<!DOCTYPE html>
<html>
	<head>
		<title>nxVideo</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>
        <script src="../javascripts/nxVideoMgntApp.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="../stylesheets/dashboard.css">
		<link rel="stylesheet" href="../stylesheets/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<body ng-app="nxVideoMgntApp" ng-controller="mainController">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<button class="navbar-toggle collapsed"></button>
				<a class="navbar-brand" href="#">nxVideo.Networkmanager</a>
			</div>
		</nav>
		<div class="container-fluid" >
			<div class="row">
				<div class="col-sm-3 col-md-3 sidebar">
					
					<ul class="nav nav-sidebar">
						<li><label>Search: <input ng-model="searchText"></label></li>
						<li 
							ng-class="{ 'active' : selectedProvider.name == provider.name }"
							ng-repeat="provider in providers  |  filter:searchText | orderBy:'name' " 
							ng-click="setValue(provider)" ><a href="#">{{provider.name}}</a></li>
							
					</ul>	
				</div>	
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<h1 class="page-header">Cameras for Provider: {{selectedProvider.name}}</h1>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th></th>
									<th>Name</th>
									<th>Operation State</th>
									<th>Operation Mode</th>											
								</tr>
		
							</thead>
							<tbody>
								<tr ng-class="{ 'danger': camera.operationState != 4 }"
									ng-repeat="camera in selectedProvider.cameras">
									<td><i class="fa fa-video-camera"></i></td>
									<td>{{camera.name}}</td>
									<td>{{camera.operationState}}</td>
									<td>{{camera.operationMode}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>	
	</body>
</html>